.material-details-background {
    @include background-horiz-img-gradient(#f9f9f9, rgba( 249, 249, 249,0.7), '../images/cave-of-the-winds.jpg', top, center);
    background-size: cover;
}

.material-details-header-bar {
    background: #617a83;
    margin: 10px 0 10px 0;
    color: white;
}

.material-details-table {
    tr:hover {
        background: #e7f0f3;
    }
}

.material-details-table-container {
    width: 1100px;
    //float: left;
    display: inline-block;

    .table-title {
        margin-top: 15px;
    }
}