<div class="section data-entry-section">
    <h2 class="section-title">New Tickets</h2>
    <p class="error">{{errorMessage}}</p>
    <div class="row">
        <div class="label-input">
            <label>Vendor</label>
            <select [(ngModel)]="vendorId" (change)="getMaterials(vendorId)" required>
                <option [ngValue]="undefined" disabled selected hidden>Select a Vendor</option>
                <option [ngValue]="vendor.vendorId" *ngFor="let vendor of vendors">{{vendor.name}}</option>
            </select>
        </div>
        <account-select [accounts]="accounts" [(selectedAccountId)]="accountId"></account-select>
    </div>
    <form *ngIf="vendorId" (keydown.enter)="$event.preventDefault()" ngNativeValidate>
        <div class="row" *ngFor="let ticket of tickets; let i = index">

            <a class=" remove-button button" (click)="removeTicket(i)"><i class="fa fa-minus-square" aria-hidden="true"></i></a>

            <div class="label-input datepicker">
                <label>Date</label>
                <my-date-picker class="invoice-textfield" [(ngModel)]="ticket.rawDate" name="ticketDate" required></my-date-picker>
            </div>

            <div class="label-input">
                <label>Ticket Number</label>
                <input type="text" [(ngModel)]="ticket.ticketNumber" name="ticketNumber"  placeholder="Ticket Number" required>
            </div>

            <div class="label-input">
                <label>Material</label>
                <select [(ngModel)]="ticket.material.materialVendorId" (change)="selectTicketMaterial(ticket.material.materialVendorId, i); caluculateCost(ticket)" name="material"  >
                    <option [ngValue]="" disabled selected hidden>Select a Material</option>
                    <option [ngValue]="material.materialVendorId" *ngFor="let material of materials">{{material.name}}</option>
                </select>
            </div>
            <div class="label-input">
                <label>Quantity</label>
                <input type="Number" [(ngModel)]="ticket.quantity" step="0.01" (change)="caluculateCost(ticket)" name="quantity" required>
            </div>

            <div class="label-display">
                <label>Cost</label>
                <p title="{{ticket.material.cost| currency}} per {{ticket.material.unit}}">{{ticket.cost |currency:'USD':true:'1.2-2'}}</p>
            </div>
        </div>

        <a class=" add-button button row" (click)="addTicket()"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
        <button class="submit-button button" type="submit" (click)="submitNewTickets()"><i class="fa fa-check-square-o" aria-hidden="true"></i> Add Tickets</button>

    </form>
</div>