<div class="background vendor-overview-background "></div>

<h1 class="title multi-title">{{ticket.ticketNumber}}</h1>
<h2 class="sub-title">{{ticket.vendor.name}} Ticket</h2>

<div class="account-details-column ticket-details-section section">
    <div class="ticket-details">
        <div class="ticket-details-header-bar header-bar">
            <h3>Ticket Details</h3>
        </div>
        <table class="table ticket-basics-table">
            <tr>
                <td class="default-size bold">Ticket Number</td>
                <td class="number">{{ticket.ticketNumber}}</td>
            </tr>
            <tr>
                <td class="default-size bold">Vendor</td>
                <td class="number">{{ticket.vendor.name}}</td>
            </tr>
            <tr>
                <td class="default-size bold">Material</td>
                <td class="number">{{ticket.material.name}}</td>
            </tr>
            <tr>
                <td class="default-size bold">Material Amount</td>
                <td class="number">{{ticket.material.amount}} {{ticket.material.unit}}<span *ngIf="ticket.material.amount != 1">s</span></td>
            </tr>
            <tr>
                <td class="default-size bold">Cost</td>
                <td class="number">{{ticket.cost | currency:'USD':true:'1.2-2'}}</td>
            </tr>
            <tr>
                <td class="default-size bold">Invoice</td>
                <td class="number">{{ticket.invoice.invoiceNumber || "Pending"}}</td>
            </tr>
        </table>
    </div>
</div>
