<div class="background profile-background"></div>

<h1 class="title">Profile Settings</h1>

<div class="section profile-page-head">
    <div class="profile-header-bar header-bar">
        <div class="tab" [ngClass]="{'selected-tab': tab == 'User'}" (click)="selectTab('User')">
            <h3>User</h3>
        </div>
        <div class="tab" [ngClass]="{'selected-tab': tab == 'Admin'}" (click)="selectTab('Admin')" *ngIf="getPermissions() == 'Admin'">
            <h3>Administrator</h3>
        </div>
        <div class="tab" [ngClass]="{'selected-tab': tab == 'Bug'}" (click)="selectTab('Bug')">
            <h3>Bug Report</h3>
        </div>
    </div>
</div>

<ng-container *ngIf="tab == 'User'">
    <div class="profile-side-section section">
        <h2 class="section-title">Profile Manager</h2>

        <div class="profile-header-bar header-bar">
            <h3>Edit Info</h3>
        </div>
        <p class="error red center">{{userError}}</p>
        <div class="center">
            <div class="label-input row">
                <label class="bold">First Name</label>
                <input class="row" type="text" [(ngModel)]="currentUser.firstName" required>
            </div>
            <div class="label-input row ">
                <label class="bold">Last Name</label>
                <input class="row" type="text" [(ngModel)]="currentUser.lastName" required>
            </div>
            <div class="label-input row ">
                <label class="bold">Email</label>
                <input class="row" type="email" [(ngModel)]="currentUser.email" required>
            </div>
            <div class="label-input row ">
                <label class="bold">Password</label>
                <input class="row" type="password" placeholder="Leave blank to keep current value" [(ngModel)]="currentUser.passphrase" required>
            </div>
            <div class="label-input row">
                <label class="bold">Confirm Password</label>
                <input class="row" type="password" placeholder="Leave blank to keep current value" [(ngModel)]="currentUser.confirmPassword" required>
            </div>

            <button class="button standard-button row" (click)="editUserInformation(currentUser)">Edit Information</button>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="tab == 'Admin' && getPermissions() == 'Admin'">
    <div class="profile-side-section section">
        <h2 class="section-title">User Manager</h2>

        <div class="profile-header-bar header-bar">
            <h3>User Creation</h3>
        </div>
        <p class="error red center">{{newUserError}}</p>
        <div class="center">
            <div class="label-input row center">
                <label class="bold">First Name</label>
                <input class="row" type="text" [(ngModel)]="newUser.firstName" required>
            </div>
            <div class="label-input row center">
                <label class="bold">Last Name</label>
                <input class="row" type="text" [(ngModel)]="newUser.lastName" required>
            </div>
            <div class="label-input row center">
                <label class="bold">Email</label>
                <input class="row" type="email" [(ngModel)]="newUser.email" required>
            </div>
            <div class="label-input row center">
                <label class="bold">Password</label>
                <input class="row" type="password" [(ngModel)]="newUser.passphrase" required>
            </div>
            <div class="label-input row center">
                <label class="bold">Confirm Password</label>
                <input class="row" type="password" [(ngModel)]="newUser.confirmPassword" required>
            </div>
            <div class="label-input row center">
                <label class="bold">Permissions</label>
                <select [(ngModel)]="newUser.permissions" class="row center">
                    <option value="0">Administrator</option>
                    <option value="1" selected>Standard User</option>
                </select>
            </div>

            <button class="button standard-button row" (click)="registerNewUser()">Create User</button>
        </div>

        <br />
        <div class="profile-header-bar header-bar">
            <h3>Edit User</h3>
        </div>
    
        <div class="center">
            <div class="label-input row center">
                <label class="bold">User</label>
                <select [(ngModel)]="editUser" class="row center">
                    <option [ngValue]="selectedUser" *ngFor="let selectedUser of users">{{selectedUser.firstName}} {{selectedUser.lastName}} - {{selectedUser.email}}</option>
                </select>

                <div class="label-input row center">
                    <label class="bold">Change Password</label>
                    <input class="row" type="password" [(ngModel)]="editUser.password" placeholder="Leave blank to keep current value" required>
                </div>
                <div class="label-input row center">
                    <label class="bold">Confirm Password</label>
                    <input class="row" type="password" [(ngModel)]="editUser.confirmPassword"  placeholder="Leave blank to keep current value" required>
                </div>
                <div class="label-input row center">
                    <label class="bold">Change Permissions</label>
                    <select [(ngModel)]="editUser.permissions" class="row center">
                        <option value="0">Administrator</option>
                        <option value="1" selected>Standard User</option>
                    </select>
                </div>

                <button class="button standard-button row" (click)="editUserInformation(editUser)">Edit User</button>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="tab == 'Bug'">
    <div class="profile-side-section section">
        <h2 class="section-title">Bug Report</h2>

        <div class="profile-header-bar header-bar">
            <h3>Add Bug</h3>
        </div>
        <p class="error red center">{{bugErrorMessage}}</p>
        <div class="center">

            <div class="label-input row center">
                <label class="bold">Severity</label>
                <select [(ngModel)]="newBug.severity" class="row center">
                    <option value="Major">Major</option>
                    <option value="Minor" selected>Minor</option>
                    <option value="Feature">Feature Request</option>
                </select>
            </div>

            <div class="label-input row center">
                <label class="bold">Description</label>
                <textarea class="row" type="text" [(ngModel)]="newBug.description" required></textarea>
            </div>

            <button class="button standard-button row" (click)="addNewBug()">Add Bug</button>
        </div>
    </div>
    <div class="profile-table-container section">
        <h2 class="section-title">Bugs</h2>
        <div class="filter-container profile-header-bar header-bar">
            <div class="filter" [ngClass]="{'selected-filter' : displayedFilter == 'All'}" (click)="setDisplayedFilter('All')">
                <p>All</p>
            </div>
            <div class="filter" [ngClass]="{'selected-filter': displayedFilter == 'Major'}" (click)="setDisplayedFilter('Major')">
                <p>Major</p>
            </div>
            <div class="filter" [ngClass]="{'selected-filter': displayedFilter == 'Minor'}" (click)="setDisplayedFilter('Minor')">
                <p>Minor</p>
            </div>
            <div class="filter" [ngClass]="{'selected-filter': displayedFilter == 'cityAccount'}" (click)="setDisplayedFilter('Feature')">
                <p>Feature Request</p>
            </div>
        </div>


        <table class="invoice-details-table table">
            <tr class="table-head">
                <th class="default-size">Severity</th>
                <th class="default-size">Description</th>
                <th class="number">Date Created</th>
            </tr>
            <ng-container *ngFor="let bug of displayedBugs; let i = index">
                <tr>
                    <td class="default-size">{{bug.severity}}</td>
                    <td class="default-size">{{bug.description}}</td>
                    <td class="number">{{bug.dateCreated | date:'longDate'}}</td>
                </tr>
            </ng-container>
        </table>
    </div>
</ng-container>