<div class="background invoice-details-background"></div>

<ng-container *ngIf="invoice">
    <h1 class="title multi-title">{{invoice.invoiceNumber}}</h1>
    <h2 class="sub-title">{{invoice.vendor.name}} Invoice</h2>

    <div class="account-details-column invoice-details-section section">
        <div class="invoice-details">
            <h2 class="section-title">Summary</h2>
            <div class="invoice-header-bar header-bar">
                <h3>Basics</h3>
                
                <ng-container *ngIf="permissions=='Admin'">
                    <i class="fa fa-pencil-square-o clickable edit-button" *ngIf="!isEditing()" (click)="toggleEditBasics(true)"></i>

                    <button class="cancel-button clickable" *ngIf="editBasics" (click)="toggleEditBasics(false)">Cancel</button>
                    <button class="submit-button clickable" *ngIf="editBasics" (click)="submitAdjustment()">Submit Changes</button>
                </ng-container>
            </div>
            <p class="error" *ngIf="editBasics">{{errorMessage}}</p>
            <table class="table invoice-basics-table">
                <tr>
                    <td class="default-size bold">Invoice Number</td>
                    <td class="number" *ngIf="!editBasics">{{invoice.invoiceNumber}}</td>
                    <td class="number" *ngIf="editBasics"><input type="text" [(ngModel)]="invoice.invoiceNumber" placeholder="Invoice Number" required></td>
                </tr>
                <tr>
                    <td class="default-size bold">Vendor</td>
                    <td class="number" *ngIf="!editBasics">{{invoice.vendor.name}}</td>
                    <td class="number" *ngIf="editBasics">
                        <select [(ngModel)]="invoice.vendor.vendorId" required>
                            <option [ngValue]="undefined" disabled selected hidden>Select a Vendor</option>
                            <option [ngValue]="vendor.vendorId" *ngFor="let vendor of vendors">{{vendor.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="default-size bold">Invoice Type</td>
                    <td class="number" *ngIf="!editBasics">{{invoice.invoiceType.name}}</td>
                    <td class="number" *ngIf="editBasics">
                        <select [(ngModel)]="invoice.invoiceType.invoiceTypeId" required>
                            <option [ngValue]="undefined" disabled selected hidden>Select a Type</option>
                            <option [ngValue]="type.invoiceTypeId" *ngFor="let type of invoiceTypes">{{type.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="default-size bold">Invoice Date</td>
                    <td class="number" *ngIf="!editBasics">{{invoice.invoiceDate | date:'shortDate'}}</td>
                    <td class="number" *ngIf="editBasics"><input type="date" class="invoice-textfield" [value]="invoice.invoiceDate | date:'yyyy-MM-dd'" (input)="invoice.invoiceDate=parseDate($event.target.value)" required></td>
                </tr>
                <tr>
                    <td class="default-size bold">Date Paid</td>
                    <td class="number" *ngIf="!editBasics">{{invoice.datePaid  | date:'shortDate'}}</td>
                    <td class="number" *ngIf="editBasics"><input type="date" class="invoice-textfield" [value]="invoice.datePaid | date:'yyyy-MM-dd'" (input)="invoice.datePaid=parseDate($event.target.value)" required></td>
                </tr>
                <tr>
                    <td class="default-size bold">Total Expense</td>
                    <td class="number">{{invoice.totalExpense | currency:'USD':true:'1.2-2'}}</td>
                </tr>
            </table>
            <div class="label-value invoice-label-value">
                <label class="bold row">Description</label>
                <p *ngIf="!editBasics">{{invoice.description}}</p>
                <textarea *ngIf="editBasics" placeholder="Enter Description" class="invoice-textarea row" [(ngModel)]="invoice.description" required></textarea>
            </div>
            <button class="button standard-button row">Print Coversheet</button>
        </div>
    </div>
    <div class="invoice-table-container section">
        <h2 class="section-title">Invoice Breakdown</h2>
        <div class="filter-container invoice-header-bar header-bar">
            <div class="filter" [ngClass]="{'selected-filter' : displayedBreakdown == 'Expenses'}" (click)="setDisplayedBreakdown('Expenses')">
                <p>Expenses</p>
            </div>
            <div class="filter" [ngClass]="{'selected-filter': displayedBreakdown == 'Tickets'}" (click)="setDisplayedBreakdown('Tickets')">
                <p>Tickets</p>
            </div>
            <div class="filter" [ngClass]="{'selected-filter': displayedBreakdown == 'cityAccount'}" (click)="setDisplayedBreakdown('cityAccount')">
                <p>City Accounts</p>
            </div>

            <ng-container *ngIf="permissions=='Admin'">
                <i class="fa fa-pencil-square-o clickable edit-button" *ngIf="!isEditing()" (click)="toggleEditTable(true)"></i>

                <button class="cancel-button clickable" *ngIf="editTable" (click)="toggleEditTable(false)">Cancel</button>
                <button class="submit-button clickable" *ngIf="editTable" (click)="submitAdjustment()">Submit Changes</button>
            </ng-container>
        </div>


        <table *ngIf="displayedBreakdown == 'Expenses'" class="invoice-details-table table">
            <tr class="table-head">
                <th *ngIf="editTable"></th>
                <th class="default-size">Account</th>
                <th class="number">Expense</th>
            </tr>
            <ng-container *ngFor="let accountExpense of invoice.expenses; let i = index">
                <tr *ngIf="!editTable">
                    <td class="default-size">{{accountExpense.account | accountName}}</td>
                    <td class="number">{{accountExpense.expense  | currency:'USD':true:'1.2-2'}}</td>
                </tr>
                <tr *ngIf="editTable">
                    <td *ngIf="editTable"><a class=" remove-button button" (click)="removeAccount(i)"><i class="fa fa-minus-square" aria-hidden="true"></i></a></td>
                    <td class="default-size"><account-select [accounts]="accounts" [(selectedAccountId)]="accountExpense.account.accountId"></account-select></td>
                    <td class="number  div-td">
                        <div class="dollar-input icon-input">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                            <input type="Number" placeholder="Enter a Dollar Amount" step="0.01" [(ngModel)]="accountExpense.expense" required>
                        </div>
                    </td>
                </tr>
            </ng-container>
            <tr *ngIf="editTable">
                <td colspan="3"><a class=" add-button button row" (click)="addAccount()"><i class="fa fa-plus-square" aria-hidden="true"></i></a></td>
            </tr>
        </table>

        <table *ngIf="displayedBreakdown == 'Tickets'" class="invoice-details-table table">
            <tr class="table-head">
                <th *ngIf="editTable"></th>
                <th class="default-size">Account</th>
                <th class="default-size">Ticket Number</th>
                <th class="default-size">Vendor</th>
                <th class="default-size">Material</th>
                <th class="number">Cost</th>
            </tr>
            <ng-container *ngFor="let ticket of invoice.tickets; let i = index">
                <tr (click)="gotoTicket(ticket.ticketId, editTable)" class="clickable">
                    <td *ngIf="editTable"><a class=" remove-button button" (click)="removeTicket(i)"><i class="fa fa-minus-square" aria-hidden="true"></i></a></td>
                    <td class="default-size">{{ticket.account | accountName}}</td>
                    <td class="default-size">{{ticket.ticketNumber}}</td>
                    <td class="default-size">{{ticket.vendor.name}}</td>
                    <td class="default-size">{{ticket.material.name}}</td>
                    <td class="number">{{ticket.cost | currency:'USD':true:'1.2-2'}}</td>
                </tr>
            </ng-container>
                <ng-container *ngIf="displayedBreakdown == 'Tickets'&& editTable">
                    <tr>
                        <th class="default-size" colspan="6"></th>
                    </tr>
                    <tr class="table-head">
                        <th class="default-size" colspan="6">Pending tickets for {{invoice.vendor.name}}</th>
                    </tr>
                    <ng-container *ngFor="let ticket of pendingTickets; let j = index">
                        <tr>
                            <td *ngIf="editTable"><a class=" add-button button row" (click)="addTicket(j)"><i class="fa fa-plus-square" aria-hidden="true"></i></a></td>
                            <td class="default-size">{{ticket.account | accountName}}</td>
                            <td class="default-size">{{ticket.ticketNumber}}</td>
                            <td class="default-size">{{ticket.vendor.name}}</td>
                            <td class="default-size">{{ticket.material.name}}</td>
                            <td class="number">{{ticket.cost | currency:'USD':true:'1.2-2'}}</td>
                        </tr>
                    </ng-container>
                </ng-container>

        </table>


        <table *ngIf="displayedBreakdown == 'cityAccount'" class="invoice-details-table table">
            <ng-container *ngFor="let account of invoice.expenses; let i = index;">
                <tr class="table-head">
                    <th colspan="3">{{account.account | accountName}}</th>
                </tr>
                <ng-container *ngFor="let cityAccount of account.cityExpense; let j = index">
                    <tr *ngIf="!editTable">
                        <td></td>
                        <td class="default-size">{{cityAccount.name}}</td>
                        <td class="number">{{cityAccount.expense  | currency:'USD':true:'1.2-2'}}</td>
                    </tr>
                    <tr *ngIf="editTable">
                        <td><a class=" remove-button button" (click)="removeCityAccount(i, j)"><i class="fa fa-minus-square" aria-hidden="true"></i></a></td>
                        <td class="default-size">
                            <select [(ngModel)]="cityAccount.cityAccountId" required>
                                <option [ngValue]="undefined" disabled selected hidden>Select a City Account</option>
                                <option [ngValue]="newCityAccount.cityAccountId" *ngFor="let newCityAccount of cityAccounts">{{newCityAccount.name}}</option>
                            </select>
                        </td>
                        <td class="number">
                            <div class="dollar-input icon-input">
                                <i class="fa fa-usd" aria-hidden="true"></i>
                                <input type="Number" placeholder="Enter a Dollar Amount" step="0.01" [(ngModel)]="cityAccount.expense" required>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                <tr  *ngIf="editTable">
                    <td colspan="3"><a class=" add-button button row" (click)="addCityAccount(i)"><i class="fa fa-plus-square" aria-hidden="true"></i></a></td>
                </tr>
            </ng-container>
        </table>
    </div>
</ng-container>
