<div class="background home-backround"></div>

<div class="home-page">
    <div class="grid-container home-grid">
        <div class="grid-12-2 home-greating">
            <h1>Good Morning Ryan</h1>
            <div class="settings-dropdown">
                <i class="fa fa-caret-down caret-down" aria-hidden="true"></i>
                <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
            </div>
        </div>

        <div class="grid-12-3">
            <div class="icon-input home-search">
                <a (click)="gotoSearch(searchString)" class="fa fa-search clickable"></a>
                <input type="text" placeholder="Search for an existing invoice, ticket, or vendor" [(ngModel)]="searchString" (keyup.enter)="gotoSearch(searchString)"/>
            </div>
        </div>
        <a [routerLink] = "['/overview']" class="grid-6-12 home-selection overview-selection">
            <div class="home-selection-background white-background"></div><div class="home-selection-gradiant white-gradiant"></div>
            <div class="home-selection-text">
                <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
                <div  class="overview-title">
                    <h2>Overview</h2>
                </div>
                <p>View an overview of all accounts. This page is analogous to the "Summary" Excel spreadsheet</p>
            </div>
        </a>
        <div class="grid-3-6 home-selection blue-selection entry-selection">
            <div class="home-selection-background blue-background"></div><div class="home-selection-gradiant blue-gradiant"></div>
            <div class="home-selection-text">
                <i class="fa fa-keyboard-o fa-2x" aria-hidden="true"></i>
                <div class="entry-title">
                    <h3>Data Entry</h3>
                </div>
                <p>Add a new invoice, ticket,  or vendor into the system.</p>
            </div>
        </div>
        <div class="grid-3-6 home-selection blue-selection vendors-selection">
            <div class="home-selection-background blue-background"></div><div class="home-selection-gradiant blue-gradiant"></div>
            <div class="home-selection-text">
                <i class="fa fa-truck fa-2x" aria-hidden="true"></i>
                <div class="vendors-title">
                    <h3>Vendors</h3>
                </div>
                <p>Get an indepth look at a vendor</p>
            </div>
        </div>
        <div class="grid-6-6 home-selection blue-selection reports-selection">
            <div class="home-selection-background blue-background"></div><div class="home-selection-gradiant blue-gradiant"></div>
            <div class="home-selection-text">
                <i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i>
                <div class="reports-title">
                    <h3>Reports</h3>
                </div>
                <p>View reports and statistics of the information within the system</p>
            </div>
        </div>
    </div>
</div>