<div class="background account-backround"></div>


<ng-container *ngIf="account">
    <h1 class="title multi-title">{{account | accountName}}</h1>
    <h2 class="sub-title"> {{account.description}}</h2>

    <div class="account-details-column" *ngIf="account">
        <div class="account-details-section section">
            <div class="account-summary">
                <h2 class="section-title">Account Summary</h2>
                <div class="account-header-bar header-bar">
                    <h3>MonthlyTotals</h3>
                </div>
                <table class="table">
                    <tr class="table-head">
                        <th class="default-size">Month</th>
                        <th class="number">% of Total</th>
                        <th class="number">Expense</th>
                    </tr>
                    <ng-container *ngFor="let month of months; let i = index">
                        <tr>
                            <td class="default-size bold">{{month}}</td>
                            <td class="number">{{account.monthlyDetails[i+1].totalExpense/account.totalBudget | percent:'1.2-2'}}</td>
                            <td class="number">{{account.monthlyDetails[i+1].totalExpense   | currency:'USD':true:'1.2-2'}}</td>
                        </tr>
                    </ng-container>
                    <tr>
                        <td class="default-size bold">All</td>
                        <td class="number">{{account.expedituresToDate/account.totalBudget | percent:'1.2-2'}}</td>
                        <td class="number">{{account.expedituresToDate   | currency:'USD':true:'1.2-2'}}</td>
                    </tr>
                </table>
            </div>
            <br />
            <div class="account-header-bar header-bar">
                <h3>Budget</h3>
            </div>
            <table class="table">
                <tr>
                    <td class="default-size bold">Budet</td>
                    <td class="number">{{account.totalBudget | currency:'USD':true:'1.2-2'}}</td>
                </tr>
                <tr>
                    <td class="default-size bold">Expensed</td>
                    <td class="number">{{account.expedituresToDate | currency:'USD':true:'1.2-2'}}</td>
                </tr>
                <tr>
                    <td class="default-size bold">Remaining</td>
                    <td class="number">{{account.remainingBalance | currency:'USD':true:'1.2-2'}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="account-table-container section">
        <h2 class="section-title">Breakdown For
            <select [(ngModel)]="selectedMonth" (change)="selectMonth(selectedMonth)">
                <option [ngValue]="i" *ngFor="let month of months;let i = index">{{month}}</option>
                <option value="All">All</option>
            </select>
        </h2>
        <div class="filter-container account-header-bar header-bar">
            <div class="filter" [ngClass]="{'selected-filter' : displayedBreakdown == 'Invoice'}" (click)="setDisplayedBreakdown('Invoice')">
                <p>Invoices</p>
            </div>
            <div class="filter" [ngClass]="{'selected-filter': displayedBreakdown == 'Ticket'}" (click)="setDisplayedBreakdown('Ticket')">
                <p>Tickets</p>
            </div>
            <div class="filter" [ngClass]="{'selected-filter': displayedBreakdown == 'Transfer'}" (click)="setDisplayedBreakdown('Transfer')">
                <p>Transfers</p>
            </div>
        </div>


        <table *ngIf="displayedBreakdown == 'Invoice'" class="table account-details-table">
            <tr class="table-head">
                <th class="default-size sortable" (click)="sortInvoicesBy('accountNumber')">Account<i class="fa" [ngClass]="getInvoiceSortIcon('accountNumber')" aria-hidden="true"></i></th>
                <th class="default-size sortable" (click)="sortInvoicesBy('invoiceNumber')">Invoice<i class="fa" [ngClass]="getInvoiceSortIcon('invoiceNumber')" aria-hidden="true"></i></th>
                <th class="default-size sortable" (click)="sortInvoicesBy('vendor')">Vendor<i class="fa" [ngClass]="getInvoiceSortIcon('vendor')" aria-hidden="true"></i></th>
                <th class="default-size sortable hide-mobile" (click)="sortInvoicesBy('invoiceType')">Type<i class="fa" [ngClass]="getInvoiceSortIcon('invoiceType')" aria-hidden="true"></i></th>
                <th class="description sortable  hide-mobile" (click)="sortInvoicesBy('description')">Descrpition<i class="fa" [ngClass]="getInvoiceSortIcon('description')" aria-hidden="true"></i></th>
                <th class="number sortable" (click)="sortInvoicesBy('invoiceDate')">Invoice Date<i class="fa" [ngClass]="getInvoiceSortIcon('invoiceDate')" aria-hidden="true"></i></th>
                <th class="number sortable  hide-mobile" (click)="sortInvoicesBy('datePaid')">Date Paid<i class="fa" [ngClass]="getInvoiceSortIcon('datePaid')" aria-hidden="true"></i></th>
                <th class="number sortable" (click)="sortInvoicesBy('expense')">Expense<i class="fa" [ngClass]="getInvoiceSortIcon('expense')" aria-hidden="true"></i></th>
            </tr>
            <ng-container *ngFor="let invoice of displayedInvoices">
                <tr [routerLink]="['/invoice', invoice.invoiceId]">
                    <td class="default-size">{{invoice.accountNumber}}</td>
                    <td class="default-size">{{invoice.invoiceNumber}}</td>
                    <td class="default-size">{{invoice.vendor.name}}</td>
                    <td class="default-size  hide-mobile">{{invoice.invoiceType.name}}</td>
                    <td class="description  hide-mobile">{{invoice.description}}</td>
                    <td class="number default-size">{{invoice.invoiceDate | date:'shortDate'}}</td>
                    <td class="number default-size  hide-mobile">{{invoice.datePaid  | date:'shortDate'}}</td>
                    <td class="number">{{invoice.expense  | currency:'USD':true:'1.2-2'}}</td>
                </tr>
            </ng-container>
        </table>

        <table *ngIf="displayedBreakdown == 'Ticket'" class="table account-details-table">
            <tr class="table-head">
                <th class="default-size sortable" (click)="sortTicketsBy('account')">Account<i class="fa" [ngClass]="getTicketSortIcon('account')" aria-hidden="true"></i></th>
                <th class="default-size sortable" (click)="sortTicketsBy('ticketNumber')">Ticket Number<i class="fa" [ngClass]="getTicketSortIcon('ticketNumber')" aria-hidden="true"></i></th>
                <th class="default-size sortable" (click)="sortTicketsBy('vendor')">Vendor<i class="fa" [ngClass]="getTicketSortIcon('vendor')" aria-hidden="true"></i></th>
                <th class="default-size sortable" (click)="sortTicketsBy('invoice')">Invoice<i class="fa" [ngClass]="getTicketSortIcon('invoice')" aria-hidden="true"></i></th>
                <th class="default-size sortable  hide-mobile" (click)="sortTicketsBy('material')">Material<i class="fa" [ngClass]="getTicketSortIcon('material')" aria-hidden="true"></i></th>
                <th class="default-size sortable  hide-mobile" (click)="sortTicketsBy('quantity')">Quantity<i class="fa" [ngClass]="getTicketSortIcon('quantity')" aria-hidden="true"></i></th>
                <th class="number sortable" (click)="sortTicketsBy('cost')">Cost<i class="fa" [ngClass]="getTicketSortIcon('cost')" aria-hidden="true"></i></th>
            </tr>
            <ng-container *ngFor="let ticket of displayedTickets">
                <tr [routerLink]="['/ticket', ticket.ticketId]" class="clickable">
                    <td class="default-size">{{ticket.account | accountName}}</td>
                    <td class="default-size">{{ticket.ticketNumber}}</td>
                    <td class="default-size">{{ticket.vendor.name}}</td>
                    <td class="default-size"><span *ngIf="ticket.invoice">{{ticket.invoice.invoice}}</span><span *ngIf="!ticket.invoice">Pending</span></td>
                    <td class="default-size  hide-mobile">{{ticket.material.name}}</td>
                    <td class="default-size  hide-mobile">{{ticket.quantity}} {{ticket.material.unit}}</td>
                    <td class="number">{{ticket.cost | currency:'USD':true:'1.2-2'}}</td>
                </tr>
            </ng-container>
        </table>
        <table *ngIf="displayedBreakdown == 'Transfer'" class="table account-details-table">
            <tr class="table-head">
                <th class="default-size sortable" (click)="sortTransferBy('fromAccount')">From Account<i class="fa" [ngClass]="getTransferSortIcon('fromAccount')" aria-hidden="true"></i></th>
                <th class="default-size sortable" (click)="sortTransferBy('toAccount')">To Account<i class="fa" [ngClass]="getTransferSortIcon('toAccount')" aria-hidden="true"></i></th>
                <th class="description sortable" (click)="sortTransferBy('description')">Description<i class="fa" [ngClass]="getTransferSortIcon('description')" aria-hidden="true"></i></th>
                <th class="default-size number sortable" (click)="sortTransferBy('dateCreated')">Date Created<i class="fa" [ngClass]="getTransferSortIcon('dateCreated')" aria-hidden="true"></i></th>
                <th class="number sortable" (click)="sortTransferBy('amount')">Amount<i class="fa" [ngClass]="getTransferSortIcon('amount')" aria-hidden="true"></i></th>
            </tr>
            <ng-container *ngFor="let transfer of displayedTransfers">
                <tr class="clickable">
                    <td class="default-size">{{transfer.fromAccount | accountName}}</td>
                    <td class="default-size">{{transfer.toAccount | accountName}}</td>
                    <td class="description">{{transfer.description}}</td>
                    <td class="default-size number">{{transfer.dateCreated  | date:'shortDate'}}</td>
                    <td class="number">{{transfer.amount | currency:'USD':true:'1.2-2'}}</td>
                </tr>
            </ng-container>
        </table>

    </div>
</ng-container>