/*
    Colors used throughough the app
*/

$dark-grey: #393939;
$grey: #666666;

$sub-purple: #551b71;
$purple: #431658;

$blue: #515fba;

$dark-red: #862020;
$red: #cf0f0f;

$green: #549250;
$light-green: #38a245;

$orange: #d39527;