@import "mixins";

.table {
    border-collapse: collapse;
    width: 100%;

    .table-head {
        border-bottom: 1px solid #dadada;

        th {
            font-weight: 100;
            color: #898989;
            padding-bottom: 5px;
        }

        .sortable {
            cursor: pointer;

            i {
                margin-left: 5px;
                height: 100%;
            }
        }


        &:hover {
            background: inherit;
        }
    }

    .sub-header {
        td {
            font-weight: 100;
            color: #898989;
            padding-bottom: 5px;
        }
    }

    tr {
        &:hover {
            background: #f6f6f6;
        }
    }

    td, th {
        padding: 8px 10px;
        text-align: left;
    }

    td {
        font-size: 15px;
    }

    .div-td {
        div {
            margin-top: 20px;
        }
    }

    .default-size {
        max-width: 10%;
    }

    .description {
        width: 30%;
    }

    .number {
        text-align: right;

        div, input {
            float: right;
        }
    }

    .withIcon {
        i {
            padding: 0 5px;
        }
    }

    .toggle {
        margin-left: 10px;
    }

    .link {
        color: #4C4C61;
        font-weight: 600;

        &:hover {
            color: #2020DE;
        }
    }

    .total-row {
        cursor: default;
        color: #898989;

        &:hover {
            background: #f1f1f1;
            color: #4a4a4a;
        }
    }
}


@media screen and (max-width: $mobile-site-start-width) {
    .table {
        tr {
            height: 50px;
        }

        td {
            font-size: 18px;
        }
    }
}